In [2]:
import csv
import numpy
import pandas as pd

In [13]:
filename= 'C:\MSDS\MachL\wk3\dtm.csv'
fn2= 'C:\MSDS\MachL\wk3\dtm.data'

In [8]:
dtm = pd.read_csv(filename)
dtm.head()

,Unnamed: 0,=/,=),||,____,_?,_.,_..,_...,-),...,zed,:zed,zeros.,zhong,zindgi,zoe,zogtorius.,zoom,zouk,zyada
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
#data = pd.redad_csvd\h(fn2)d
#data.head()

f=f.read("C:\MSDS\MachL\wk3\dtm.data", "r")

TypeError: read() takes at most 1 argument (2 given)